<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
		  
			<!-- Match assembly file paths: -->
            <ModulePaths>
              <Exclude>
                <ModulePath>.*\\moq\.dll$</ModulePath>
                <ModulePath>.*\\automapper\.dll$</ModulePath>
                <ModulePath>.*\\identitymodel\.dll$</ModulePath>
                <ModulePath>.*\\identityserver4\.dll$</ModulePath>
                <ModulePath>.*\\identityserver4\.aspnetidentity\.dll$</ModulePath>
                <ModulePath>.*\\identityserver4\.entityframework\.dll$</ModulePath>
                <ModulePath>.*\\identityserver4\.entityframework\.storage\.dll$</ModulePath>
                <ModulePath>.*\\identityserver4\.storage\.dll$</ModulePath>
                <ModulePath>.*\\sendgrid\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>

            <!-- Match attributes on any code element: -->
            <Attributes>
              <Exclude>
                <Attribute>^System\.Diagnostics\.CodeAnalysis.ExcludeFromCodeCoverageAttribute$</Attribute>
                <Attribute>^Microsoft.VisualStudio.TestPlatform.TestSDKAutoGeneratedCode.*</Attribute>
              </Exclude>
            </Attributes>

			<!-- Match the company name property in the assembly: -->
            <CompanyNames>
              <Exclude>
                <CompanyName>.*microsoft.*</CompanyName>
              </Exclude>
            </CompanyNames>

          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>