@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer ViewLocalization

@{
    Layout = "_InfoLayout";

    ViewData["Title"] = ViewLocalization["Page.Title"];
}

@section PageHeader
{
    @ViewLocalization["Page.Header"]
}

@section Icon
{
    <i class="fa fa-user-times fa-4x fa-fw text-danger"></i>
}

<p class="lead">
    @ViewLocalization["Information"]
</p>

@section Buttons
{
    <a class="btn btn-default btn-lg" href="@Url.Action("Index")" role="button">@ViewLocalization["Button.Back"]</a>
}