@section PageHeader
{
    Welcome to IdentityServer4
}

<p>
    IdentityServer publishes a
    @* ReSharper disable Html.PathError *@
    <a href="~/.well-known/openid-configuration">discovery document</a>
    @* ReSharper restore Html.PathError *@
    where you can find metadata and links to all the endpoints, key material, etc.
</p>

<p>
    Here are links to the
    <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
    and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
</p>