@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer ViewLocalization

@model Aurochses.IdentityServer.WebSite.Models.Shared.Components.Help.HelpViewModel

<div>
    <h4>
        <i class="fa fa-comments fa-fw text-secondary"></i>
        @ViewLocalization["ReportError"]
    </h4>

    @ViewLocalization["ReportError.Information", Model.SupportEmail]
</div>

<hr />

<div>
    <h4>
        <i class="fa fa-cogs fa-fw text-secondary"></i>
        @ViewLocalization["Support"]
    </h4>

    @ViewLocalization["Support.Information", Model.SupportUrl]
</div>