@using Aurochses.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer ViewLocalization

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-controller="User" asp-action="Index">@UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="SignOut" asp-action="Index">@ViewLocalization["SignOut"]</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Registration" asp-action="Index">@ViewLocalization["Registration"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="SignIn" asp-action="Index">@ViewLocalization["SignIn"]</a>
        </li>
    </ul>
}